body{
    background-color: #d4d8f0;

}

h1{
    color: #593d80;
   text-align: center;
   font-size: 80px;
   font-family: 'Raleway', sans-serif;
    
}

.headers {
    color:#674e8b; 
    font-size: 40px; 
    text-decoration: underline;
    font-family: 'Proza Libre', sans-serif;
}

.lists {
    color:#7f61a8;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.links {
    color: #674e8b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #fffffe;
}

#one{
    text-align: left;
    position: relative;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.headboxes {
    background-color: #fffffe;
    padding: 40px;
    margin: 0 0 4em 0;
}

